body {
  margin-top: 100px;
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
  font-family: 'Covered By Your Grace', cursive;

}


.container {
  margin: 0 auto;
  width: 975px;
  height: 250px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

a{
  text-decoration: none;
  color: white;
}

.shadow{
  text-align: center;
  margin: 0 auto;
  margin-top: 8em;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 975px;
  height: 250px;
  line-height: 200px;
  font-size: 5.5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateX(0deg) translateZ(220px);
  background: #651FFF;
  color: fff;
}
.b {
  transform: rotatex(60deg) translateZ(220px);
  background: #76FF03;
  color: fff;
}
.c {
  transform: rotatex(120deg) translateZ(220px);
  background: #39b54a;
  background: #1B5E20;
}
.d {
  transform: rotatex(180deg) translateZ(220px);
  background: #2962FF;
}

.e {
  transform: rotatex(240deg) translateZ(220px);
  background: #37474F;
}
.f {

  transform: rotatex(300deg) translateZ(220px);
  background: #FF3D00;
}

.next, .prev {
  margin: 0 auto;
  width: 100px;
  color: #444;
  position: relative;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}


.buttons {
  margin-top: 5em;
}

.name:hover, .job,:hover .contact:hover, .thanks:hover {
  cursor: pointer;
}
